<div class="board">
  <div class="row tentativa-1">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
  <div class="row tentativa-2">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
  <div class="row tentativa-3">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
  <div class="row tentativa-4">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
  <div class="row tentativa-5">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
  <div class="row tentativa-6">
    <div class="board__campo campo-1"></div>
    <div class="board__campo campo-2"></div>
    <div class="board__campo campo-3"></div>
    <div class="board__campo campo-4"></div>
    <div class="board__campo campo-5"></div>
  </div>
</div>
