<div class="teclado">
  <div class="row row-1">
    <button class="tecla" #teclaQ (click)="onClick(teclaQ.innerHTML)">Q</button>
    <button class="tecla" #teclaW (click)="onClick(teclaW.innerHTML)">W</button>
    <button class="tecla" #teclaE (click)="onClick(teclaE.innerHTML)">E</button>
    <button class="tecla" #teclaR (click)="onClick(teclaR.innerHTML)">R</button>
    <button class="tecla" #teclaT (click)="onClick(teclaT.innerHTML)">T</button>
    <button class="tecla" #teclaY (click)="onClick(teclaY.innerHTML)">Y</button>
    <button class="tecla" #teclaU (click)="onClick(teclaU.innerHTML)">U</button>
    <button class="tecla" #teclaI (click)="onClick(teclaI.innerHTML)">I</button>
    <button class="tecla" #teclaO (click)="onClick(teclaO.innerHTML)">O</button>
    <button class="tecla" #teclaP (click)="onClick(teclaP.innerHTML)">P</button>
  </div>
  <div class="row row-2">
    <button class="tecla" #teclaA (click)="onClick(teclaA.innerHTML)">A</button>
    <button class="tecla" #teclaS (click)="onClick(teclaS.innerHTML)">S</button>
    <button class="tecla" #teclaD (click)="onClick(teclaD.innerHTML)">D</button>
    <button class="tecla" #teclaF (click)="onClick(teclaF.innerHTML)">F</button>
    <button class="tecla" #teclaG (click)="onClick(teclaG.innerHTML)">G</button>
    <button class="tecla" #teclaH (click)="onClick(teclaH.innerHTML)">H</button>
    <button class="tecla" #teclaJ (click)="onClick(teclaJ.innerHTML)">J</button>
    <button class="tecla" #teclaK (click)="onClick(teclaK.innerHTML)">K</button>
    <button class="tecla" #teclaL (click)="onClick(teclaL.innerHTML)">L</button>
  </div>
  <div class="row row-3">
    <button class="tecla enter" (click)="verificaChute()">ENTER</button>
    <button class="tecla" #teclaZ (click)="onClick(teclaZ.innerHTML)">Z</button>
    <button class="tecla" #teclaX (click)="onClick(teclaX.innerHTML)">X</button>
    <button class="tecla" #teclaC (click)="onClick(teclaC.innerHTML)">C</button>
    <button class="tecla" #teclaV (click)="onClick(teclaV.innerHTML)">V</button>
    <button class="tecla" #teclaB (click)="onClick(teclaB.innerHTML)">B</button>
    <button class="tecla" #teclaN (click)="onClick(teclaN.innerHTML)">N</button>
    <button class="tecla" #teclaM (click)="onClick(teclaM.innerHTML)">M</button>
    <button class="tecla apagar" (click)="apagarLetra()"><img class="icone-apagar" src="../../../assets/Vector.png"></button>
  </div>
</div>