$backgroundBase: #14161C;
$backgorundTeclado: #818384;
$backgroundMessageError: #BA4747;
$backgroundMessageSuccess: #538D4E;
$backgorundLetterWrong: #585858;
$backgorundLetterRight: #B59F3B;
$backgorundLetterRightPosition: #538D4E;
$lettersColor: #FFFFFF;
$edgesColor: #585858;
$letteMessageColorError: #5F0F1D;
$letteMessageColorSuccess: #2B5028;
