$backgroundBase: #14161C;
$backgorundTeclado: #818384;
$backgroundMessageError: #BA4747;
$backgroundMessageSuccess: #538D4E;
$backgroundMessageAviso: #B59F3B;
$backgorundLetterWrong: #585858;
$backgorundLetterRight: #B59F3B;
$backgorundLetterRightPosition: #538D4E;
$lettersColor: #FFFFFF;
$edgesColor: #585858;
$letterMessageColorError: #5F0F1D;
$letterMessageColorSuccess: #2B5028;
$letterMessageColorAviso: #7D6B15;
